<footer class="footer">
  <div>
    © Raccoon Coder 2019
    <a href="https://github.com/Raccoon-Coder/raccoon-coder.github.io" target="_blank">
      <img src="/images/github-logo.png" />
    </a>
  </div>
</footer>