{% extends "layout.njk" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/about-me/about-me.css"/>
{% endblock %}
{% block content %}
<div class="about-me">
    <h2>About Me</h2>
    <div class="about-me-container">
        <img src="/images/raccoon.jpg"/>
        <p>I am a finnish sixth grader interested in coding. I have so far been using only HTML, CSS and a slight bit of JavaScript. I have learned everything from <a href="https://www.codecademy.com/">codecademy</a> and my big brother. <a href="https://voyacode.com/">Here</a> is a link to his website.</p>
    </div>
</div>
{% endblock %} 