{% extends "layout.njk" %}

{% block content %}
<div class="description">
  <h2>Description</h2>
  <p>Welcome to my website! This is where I practise coding and share my projects.
    Here I will be making mostly games and blogs. This webpage is hosted by <a
      href="https://github.com/Raccoon-Coder/raccoon-coder.github.io">GitHub.</a> Stay tuned!
  </p>
</div>
{% endblock %}