{% extends "layout.njk" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/games/games.css"/>
{% endblock %}
{% block content %}
<div class="description">
    <h2>Description</h2>
    <p>
        This is the games section. Here you will find games made by me. Feel free to give me suggestions on games and projects in my GitHub repository.
    </p>
</div>
<div class="game-boxes">
    <div class="game-box">
        <a href="snake-game">The Snake Game</a>
        <a href="snake-game"><img src="/images/snake-game-thumbnail.png"></a>
    </div>
</div>
{% endblock %}

