{% extends "layout.njk" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/blogs/blogs.css"/>
{% endblock %}

{% block content %}

<div class="description">
    <h2>Blogs Description</h2>
    <p>
        This is the blogs section. Here I tell about changes to the site, as well as things about my life.
    </p>
</div>
<div class="blogs">
    <div class="description">
        <h4>My Summer</h4>
        <p>I haven't been coding much lately, because I've been enjoying other things more. I have been drawing a lot and playing a lot.
            Me and my family are also going to Paris mid-July. I do still have a few coding ideas, one being a calculator and the other being an endless runner.
            I will probably do the calculator first, as it is a lot easier. Have a nice Summer!
        </p>
        <h6>28.6.2018</h6>
    </div>
    <div class="description">
        <h4>My Hobbies</h4>
        <p>In case you are wondering what I like doing in my freetime, this is the blog for you.
            My main hobbies are playing football, playing videogames, reading, drawing, and of course, coding. I am now going to talk about each subject.
            So, I like playing football alone and/or with friends. I am obsessed with footballs and touch one almost everyday, even though i'm not that good at football. I love almost all videogames, and I would say I am pretty good at them, since I have played them for about 10 years.
            I actually learned most of my english from games, and they are the main reason to why I am good at english. I play games almost every day. I also love reading. My favorite book is Harry Potter and the Chamber of Secrets.
            I read the entire series first in Finnish, and then started to read it in English (currenly at the fifth one). I also love drawing. I got a set of 74 Prismacolor Premier colored pencils on my birthday and I love them.
            I recommend them because they are not that expensive and the wax inside is really smooth and great for blending. People have been having problems with breakage, but I have not seen any problems yet. And lastly, coding. I love coding, and I should definitely code more.
            I will code a lot more when my Summer vacation starts, and will try to keep making 2-3 blogs a month. Anyway, if you read all of that and liked it, then thank you. It really means a lot to me, even if not many people visit my website. Thank you for reading and have a nice day. Bye!
        </p>
        <h6>10.5.2018</h6>
    </div>
    <div class="description">
        <h4>My Birthday</h4>
        <p>Today, on the 26th of April, it is my birthday! Hurray! So, I was supposed to publish The Snake Game today, but because of school (read the previous blog), I had to publish it earlier.
            I might not make anything in a while except for some blogs, minor changes and fixes due to not being as motivated/a lack of ideas, but I do have an idea for a small game.
            That idea might change of course, but I believe it will, for the most part, stay the same. I won't tell the idea yet, but I might mention it in a future blog.
            Anyway, my birthday is going to be awesome, and I hope yours will be too, whenever it is. See you later!
        </p>
        <h6>26.4.2018</h6>
    </div>
    <div class="description">
        <h4>Pyth the Python (The Snake Game)</h4>
        <p>I published The Snake Game! I was supposed to publish it later, but I want to show it in a graphical coding class at school (not to brag or anything). 
            I might make some changes to it later, such as a menu, settings, over-all changes etc. Also thanks to my brother who helped a bunch when I was stuck. So if you want to play The Snake Game and meet Pyth the Python, click <a href="/games/snake-game">here</a>. Have fun!</p>
        <h6>17.4.2018</h6>
    </div>
    <div class="description">
        <h4>My First Blog</h4>
        <p>Welcome to my first blog! I have not done this before, so my first few blogs won't probably be that good.
            I will be making about one or two blogs a month (at least at the start).
            I have started learning the basics of Javasript and will make my first game: "The Snake Game!" It should be ready in either April or May, but no promises.
            My first games will be very basic, since I am still a Jimmy (new developer). For the time being I don't have my own server, so I have to add all of this text directly into the html file. That makes things a little bit harder, so I might consider changing to a different server at some point in the future.
            I look forward to the upcoming year, and I hope you do as well. Bye!
        </p>
        <h6>8.4.2018</h6>
    </div>
</div>
{% endblock %}

